#tab-adjustments-templates {
    display: none;
}

.noUi-target {
    border-radius: 4px;
}

.tab-adjustments .adjustments {
    width: 100%;
    border-spacing: 0px;
    background-color: #e4e4e4;
}

.tab-adjustments .adjustments thead td {
    text-align: center;
    white-space: nowrap;
    padding: 10px 10px;
    background-color: var(--quietHeader);
    color:  var(--quietText);
}

.tab-adjustments .adjustments thead td:first-child {
    border-top-left-radius: 5px;
}

.tab-adjustments .adjustments thead td:last-child {
    border-top-right-radius: 5px;
}

.tab-adjustments .adjustments tbody:nth-child(odd) {
    background-color: #f0f0f0;
}

.tab-adjustments .adjustments tbody tr:nth-child(2) td {
    border-top: 1px solid white;
}

.tab-adjustments .adjustments tbody tr:nth-child(3) td {
    border-top: 1px solid white;
    border-bottom: 1px solid var(--subtleAccent);
}

.tab-adjustments .adjustmentBody select {
    border-radius: 3px;
    border: 1px solid var(--subtleAccent);
    padding: 1px 0;
}

.tab-adjustments .adjustmentBody input {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    text-align: right;
}

.tab-adjustments .adjustmentBody td.adjType {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-right: 1px solid white;
}

.tab-adjustments .adjustmentBody .adjTypeOption {
    padding: 3px 0;
}

.tab-adjustments .adjustmentBody .adjTypeOption input {
    vertical-align: middle;
    padding: 0 10px;
}

.tab-adjustments .adjustmentBody .adjTypeOption span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.tab-adjustments .adjustmentBody td.adjFunction {
    padding: 10px;
    vertical-align: top;
}

.tab-adjustments .adjustmentBody td.adjChannels {
    width: 80px;
    padding: 10px;
}

.tab-adjustments .adjustmentBody td.adjRanges {
    width: 210px;
}

.tab-adjustments .adjustmentBody .adjRangeLine {
    margin: 3px 5px 3px 10px;
}

.tab-adjustments .adjustmentBody .range-input {
    width: 60px;
    height: 18px;
    font-size: 12px;
    text-align: right;
}

.tab-adjustments .adjustmentBody .range-label {
    display: inline-block;
    width: 50px;
}

.tab-adjustments .adjustmentBody .range-dash {
    display: inline-block;
    padding: 0 3px;
}

.tab-adjustments .pips-channel-range {
    margin-bottom: 35px;
}

.tab-adjustments .adj-slider {
    height: 16px;
}

.tab-adjustments .ena-slider {
    margin-top: 14px;
    margin-bottom: 55px;
}

.tab-adjustments .inc-slider {
    margin-top: 14px;
    margin-bottom: 14px;
}

.tab-adjustments .dec-slider {
    margin-top: 14px;
    margin-bottom: 14px;
}

.tab-adjustments .val-slider {
    margin-top: 14px;
    margin-bottom: 55px;
}

.tab-adjustments .adj-slider .marker {
    position: absolute;
    left: 50%;
    top: 0px;
    height: 14px;
    width: 5px;
    margin-left: -3px;
    border-radius: 3px;
    z-index: 1000;
}

.tab-adjustments .adj-slider .noUi-connect {
    background: var(--accent);
}

.tab-adjustments .adj-slider .noUi-horizontal .noUi-handle {
    background: var(--sideBackground);
    border-color: var(--subtleAccent);
    border-radius: 15px;
    box-shadow: none;
    width: 22px;
    height: 22px;
    left: -11px;
    top: -4px;
}

.tab-adjustments .adj-slider .noUi-handle:before,
.tab-adjustments .adj-slider .noUi-handle:after {
    border-color: var(--subtleAccent);
    background-color: var(--subtleAccent);
    height: 14px;
    width: 4px;
    top: 3px;
    left: 8px;
    border: 1px;
    border-radius: 2px;
}

.tab-adjustments .adj-slider .enaMarker {
    background: rgba(255, 0, 0, 0.6);
}

.tab-adjustments .adj-slider .adjMarker {
    background: rgba(0, 255, 0, 0.6);
}


@media all and (max-width: 575px) {
    .tab-adjustments .overflow {
        overflow: auto;
    }

    .tab-adjustments .adjSliders {
        min-width: 300px;
    }
}
