#tab-adjustments-templates {
    display: none;
}

.tab-adjustments .channel-slider .noUi-connect {
    background: var(--accent);
}

.noUi-target {
    border-radius: 4px;
}

.tab-adjustments .adjustments {
    width: 100%;
    border-spacing: 0px;
    background-color: #e4e4e4;
}

.tab-adjustments .adjustments thead td {
    text-align: center;
    white-space: nowrap;
    padding: 10px 10px;
    background-color: var(--quietHeader);
    color:  var(--quietText);
}

.tab-adjustments .adjustments thead td:first-child {
    border-top-left-radius: 5px;
}

.tab-adjustments .adjustments thead td:last-child {
    border-top-right-radius: 5px;
}

.tab-adjustments .adjustments tbody:nth-child(odd) {
    background-color: #f4f4f4;
}

.tab-adjustments .adjustments tbody tr:last-child td {
    border-bottom: 1px solid var(--subtleAccent);
}

.tab-adjustments .adjustmentBody select {
    border-radius: 3px;
    border: 1px solid var(--subtleAccent);
    padding: 1px 0;
}

.tab-adjustments .adjustmentBody input {
    border: 1px solid var(--subtleAccent);
    border-radius: 3px;
    text-align: right;
}

.tab-adjustments .adjustmentBody td.adjType {
    width: 50px;
    height: 50px;
}

.tab-adjustments .adjustmentBody td.adjChannels {
    width: 80px;
}

.tab-adjustments .adjustmentBody td.adjRanges {
    width: 150px;
}

.tab-adjustments .adjustmentBody .range-input {
    width: 60px;
}

.tab-adjustments .adjustmentBody .rangeSliders {
    width: 60%;
}

.tab-adjustments .adjustmentBody .rangeSliders .channel-slider {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 13px;
    marker-start: 10px;
}

.tab-adjustments .adjustmentBody .rangeSliders .pips-channel-range {
    margin-bottom: 35px;
}

.tab-adjustments .adjustmentBody .rangeSliders .marker {
    position: absolute;
    left: 50%;
    top: 0px;
    height: 10px;
    width: 5px;
    margin-left: -3px;
    border-radius: 3px;
    z-index: 1000;
}

.tab-adjustments .adjustmentBody .rangeSliders .noUi-horizontal .noUi-handle {
    background: var(--sideBackground);
    border-color: var(--subtleAccent);
    border-radius: 15px;
    box-shadow: none;
    width: 20px;
    height: 20px;
    left: -14px;
    top: -5px;
}

.tab-adjustments .adjustmentBody .rangeSliders .noUi-handle:before,
.tab-adjustments .adjustmentBody .rangeSliders .noUi-handle:after {
    border-color: var(--subtleAccent);
    background-color: var(--subtleAccent);
    height: 8px;
    width: 4px;
    top: 11px;
    left: 7px;
    border: 1px;
    border-radius: 2px;
}

.tab-adjustments .adjustmentBody .rangeSliders .enaMarker {
    background: rgba(255, 0, 0, 0.6);
}

.tab-adjustments .adjustmentBody .rangeSliders .adjMarker {
    background: rgba(0, 255, 0, 0.6);
}


@media all and (max-width: 575px) {
    .tab-adjustments .overflow {
        overflow: auto;
    }

    .tab-adjustments .rangeSliders {
        min-width: 300px;
    }
}
